body{
    font-size: 18px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header, footer{
    background-color: cyan;
}
.site-title{
    color: red;
}
li:nth-child(1-2){
    background-color: aquamarine;
}
#my-image{
    box-shadow: 0 2px 1px black; 
}
ul{
    list-style-type: square;
}
#links{
    text-decoration: none; 
    background-color: red;
    border: black;
}
#links:hover{
    background-color: purple;
}