/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
        TEXT AND BUTTONS
*/
header{
	background-color: black;
	color: orange;
	text-decoration: none;
}
footer{
	color: orangered;
	background-color: black;
}
h1{
	font-size:4em;
	color: white;
	font-weight: bold;
}
h2{
	font-size: 3em;
	font-weight: bold;
}
h3{
	font-size: 1.2em;
}
#top_botton{
	color: black;
	font-size: 1.5em;
	text-decoration: none;
	background-color: orange;
	padding: 1.5em 1.5em 1.5em 1.5em;
}
.black_button{
	color: white;
	background-color: black;
	font-size: 1.5em;
	text-decoration: none;
	padding: 1.5em 1.5em 1.5em 1.5em;
	border: 1px solid black;
}
.yt_text{
	color: white;
}
#vsion_button{
	color:white;
	text-decoration: none;
	font-size: 1.5em;
}
/* 
          MOBLIE 
*/
@media screen  and (max-width: 991px{
	
}
/* 
          DESKTOP
*/
@media screen and (min-width: 992px) {
	
}